.commit {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-medium);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  background-color: var(--grayscale-1);
  box-shadow: -2px 2px 8px var(--tertiary-color);
}

.commit__color {
  position: absolute;
  left: 0px;
  top: 2px;
  bottom: 2px;
  width: 8px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: var(--secondary-color);
}

.commit__hash {
  position: absolute;
  top: var(--spacing-medium);
  right: var(--spacing-medium);
  padding: calc(var(--spacing-small) /2);
  border: 2px solid var(--secondary-color);
  border-radius: calc(var(--border-radius) /2);
  background-color: var(--transparent-secondary-color);
}

.commit__hash a {
  color: var(--tertiary-color);
  font-weight: 600;
  text-decoration: none;
}

.commit__hash a:hover {
  text-decoration: underline;
}

.commit__author {
  align-self: flex-start;
  margin-right: var(--spacing-medium);
  text-align: center;
}

.commit__author a {
  color: var(--grayscale-2);
  text-decoration: none;
}

.commit__author a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.commit__author img {
  width: 5rem;
  border-radius: 50%;
}

.commit__message p:nth-child(1) {
  margin: var(--spacing-medium) 0;
}

/* tablet */
@media screen and (max-width: 768px) {
  .commit {
    padding: var(--spacing-medium) var(--spacing-small);
  }

  .commit p {
    font-size: .9rem;
  }

  .commit__hash {
    right: var(--spacing-small);
  }

  .commit__hash a {
    font-size: .8rem;
  }

  .commit__author {
    margin-right: var(--spacing-small);
  }

  .commit__author img {
    width: 4rem;
  }
}

/* phone */
@media screen and (max-width: 650px) {
  .commit__color {
    top: 4px;
    bottom: 4px;
    width: 6px;
  }

  .commit__hash a {
    font-size: .8rem;
  }

  .commit__message p:nth-child(1) {
    margin-top: var(--spacing-large);
  }
}
